
/* @font-face {
     font-family: "Bitstream Vera Serif Bold";
     src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
   } */

/* .h1-centered {
  margin-top: 80px;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
} */

@media screen and (min-width: 601px) {
  h1 {
    font-size: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
}


@media screen and (min-width: 601px) {
  h3 {
    font-size: 32px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h3 {
    font-size: 6vw;
  }
}




h1 {
  font-family: "Terminal Dosis"; font-style: normal; font-variant: normal; font-weight: 700;
  color: white;
}

h3 { font-family: "Terminal Dosis"; font-style: normal; font-variant: normal; font-weight: 300;
 color: white;
}


h4 { font-family: "Terminal Dosis"; font-style: normal; font-variant: normal; font-weight: 300;
 color: white;
}

p { font-family: "Terminal Dosis"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 600;
  color: white;
 }
    blockquote { font-family: "Terminal Dosis"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
   pre { font-family: "Terminal Dosis"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

.h1-centered {
   margin-top: 80px;
   text-align: center;

 }

 .h3-centered {
    margin-top: 20px;
    text-align: center;


  }

  .stars {
    background: url("./images/stars.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height:1500px;
    margin-top: -20px;
    padding-bottom: 20px;
}

.inner {
  position: absolute;
  width: 100%;
}

.menuBar {
  list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuItem {
  display: inline;
}

@media screen and (max-width: 600px) {
  .topnav {
    overflow: hidden;
    visibility: hidden;
  }


}


/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #333; */
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
   font-family: "Terminal Dosis"; font-style: normal; font-variant: normal; font-weight: 700;
    float: center;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    /* background-color: #ddd; */
    color: #FFD940;
}

/* Add a color to the active/current link */
.topnav a.active {
    /* background-color: #4CAF50; */
    color: white;
}



/* Add a black background color to the top navigation */
.bottomnav {
    /* background-color: #333; */
    overflow: hidden;

}

/* Style the links inside the navigation bar */
.bottomnav a {
   font-family: "Terminal Dosis"; font-style: normal; font-variant: normal; font-weight: 700;
    float: center;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
    /* background-color: #ddd; */
    color: #FFD940;
}

/* Add a color to the active/current link */
.bottomnav a.active {
    /* background-color: #4CAF50; */
    color: white;
}

body {
  background:  #210444
}

.googlePlay {
  width:222px;
  height:66px;
  background: url("./images/google_play.svg");
  border: none;
  cursor: pointer;
}

.googlePlay:hover {
  width:222px;
  height:66px;
  background: url("./images/google_play_hover.svg");
  border: none;
  cursor: pointer;
}

.sun {
  max-width: 100%;
  width:674px;
  height:160px;
  background: url("./images/sun_blank.png");
  background-position: top center;
  overflow: visible;
  margin-top: 40px;
}
